html {
	font-family: 'system-ui', 'sans-serif';
	line-height: 1.4;
	letter-spacing: 0.6px;
	color: rgba(34,34,34,1);
}

h2 {
	margin-top: 50px;
}

a {
    text-decoration: none;
    color: rgba(34,34,34,1);
    font-weight: 600;
}

@media (max-width: 400px) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 21px;
	}
}